 
 .tsx-template{
  width: 100%;
  height: 35%;
  :deep(.title){
    height: 40px;
    line-height: 40px;
    background: rgb(166, 196, 239);
    color: #fff;
    text-align: center;
  }
  :deep(.userinfo){
    padding: 30px;
    span{
      display: inline-block;
      line-height: 32px;
    }
    .label{
      color: #666;
      width: 60px;
      text-align: right;
    }
    .value{
      margin-left: 12px;
      color: #333;
    }
  }
}